
ConsoleApp1/.vs/ConsoleApp1/v15/.suo
ConsoleApp1/ConsoleApp1.sln
ConsoleApp1/ConsoleApp1/App.config
ConsoleApp1/ConsoleApp1/ConsoleApp1.csproj
ConsoleApp1/ConsoleApp1/obj/Debug/CoreCompileInputs.cache
ConsoleApp1/ConsoleApp1/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
ConsoleApp1/ConsoleApp1/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
ConsoleApp1/ConsoleApp1/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
ConsoleApp1/ConsoleApp1/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
ConsoleApp1/ConsoleApp1/Properties/AssemblyInfo.cs
